.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(63, 133, 181);
}

button,
select,
html,
textarea,
input {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-primary {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #690f0f;
}